<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>弩币商城.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041A2B0122237A3700F6E4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041A2B1922237A3900F6E4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041A2B2422237A3900F6E4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
